.sign-in-page-container{
    background-color: #C6C6C6;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.sign-in-form{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.sign-in-form-input{
    margin: 5px;
    height: 40px;
    border-radius: 10px;
}