.sign-in-page-container{
    background-color: #C6C6C6;
    min-height:95vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.sign-in-form{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.sign-in-form-input{
    margin: 5px;
    height: 40px;
    border-radius: 10px;
}

.error-block{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    align-self: center;
    border: solid 2px red;
    border-radius: 40px;
    padding:10px 20px;
}

.sign-in-footer{
    margin-top: auto;
    margin-bottom: 0;
    bottom: 0;
    min-height: fit-content;
    min-width: fit-content;
    //align-self: flex-end;
}