<div class="sign-in-page-container">
    <app-spinner></app-spinner>
    <app-navigation-bar></app-navigation-bar>

        <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="validateAppUser()">
            <input 
            class="sign-in-form-input"
            type="email"
            placeholder="Email"
            formControlName = "email"
            />
            <input
            class="sign-in-form-input"
            type="password"
            placeholder="Password"
            formControlName = "password"
           
            />
            <input
            class="sign-in-form-input"
            type="submit"
            value="Submit"
            />
        </form>
        <div *ngIf="errorOccurd" class="error-block">
            <span>Your Password or email may Wrong.</span>
            <span>Please Check and Try again.</span>
        </div>
    <app-footer class="sign-in-footer"></app-footer>
</div>

