<div class="landing page">

    <app-navigation-bar></app-navigation-bar>

<div class="button-container">
    <img class = "logo-image" src="../../../assets/images/logo/todo-logo.png">
    <span class="button-description">If you already have an account...</span>
    <input class="landing-button" type="button" routerLink = "/signin" value="Sign In" onclick=""/>
    <span class="button-description">If you new to myToDo...</span>
    <input class="landing-button" type="button" routerLink = "/signup" value="Sign Up"/>
</div>


</div>

